.milestone-row {
  @include str-truncated(90%);
}

.dashboard .side .panel .panel-heading .input-group {
  .form-control {
    height: 42px;
  }
}

.content-list .group-name {
  font-weight: 600;
  color: #4c4e54;
}

.group-row {
  .stats {
    float: right;
    line-height: $list-text-height;
    color: $gl-gray;

    span {
      margin-right: 15px;
    }
  }
}

.ldap-group-links {
  .form-actions {
    margin-bottom: $gl-padding;
  }
}

.groups-cover-block {
  .container-fluid {
    position: relative;
  }

  .group-right-buttons {
    position: absolute;
    right: 16px;

    .btn {
      @include btn-gray;
      padding: 3px 10px;
      background-color: $background-color;
    }
  }
}

.ldap-group-links {
  .form-actions {
    margin-bottom: $gl-padding;
  }
}

.groups-header {
  @media (min-width: $screen-sm-min) {
    .nav-links {
      width: 35%;
    }

    .nav-controls {
      width: 65%;
    }
  }
}

.groups-empty-state {
  padding: 50px 100px;
  overflow: hidden;

  @media (max-width: $screen-md-min) {
    padding: 50px 0;
  }

  svg {
    float: right;

    @media (max-width: $screen-md-min) {
      float: none;
      display: block;
      width: 250px;
      position: relative;
      left: 50%;
      margin-left: -125px;
    }
  }

  .text-content {
    float: left;
    width: 460px;
    margin-top: 120px;

    @media (max-width: $screen-md-min) {
      float: none;
      margin-top: 60px;
      width: auto;
      text-align: center;
    }
  }
}
