%ul.new-session-tabs.nav-links.nav-tabs{ class: ('custom-provider-tabs' if form_based_providers.any?) }
  - if crowd_enabled?
    %li.active
      = link_to "Crowd", "#crowd", 'data-toggle' => 'tab'
  - if kerberos_enabled?
    %li{class: (:active unless crowd_enabled? || ldap_enabled?)}
      = link_to "Kerberos", "#kerberos", 'data-toggle' => 'tab'
  - @ldap_servers.each_with_index do |server, i|
    %li{class: (:active if i.zero? && !crowd_enabled?)}
      = link_to server['label'], "##{server['provider_name']}", 'data-toggle' => 'tab'
  - if signin_enabled?
    %li
      = link_to 'Standard', '#ldap-standard', 'data-toggle' => 'tab'
